"*":
  "advanced-open-file":
    createDirectories: true
    createFileInstantly: true
    fuzzyMatch: true
    helmDirSwitch: true
  "atom-beautify":
    c:
      beautify_on_save: true
      default_beautifier: "clang-format"
    cpp:
      beautify_on_save: true
      default_beautifier: "clang-format"
    css:
      align_assignments: true
      beautify_on_save: true
      convert_quotes: "double"
      default_beautifier: "Pretty Diff"
      force_indentation: true
      indent_size: 2
      no_lead_zero: true
      preserve_newlines: true
    csv:
      beautify_on_save: true
    general:
      _analyticsUserId: "975c4711-a53c-4db9-9035-43157d4b0ead"
      analytics: false
    go:
      beautify_on_save: true
    html:
      beautify_on_save: true
      default_beautifier: "Pretty Diff"
      indent_size: 2
    jade:
      beautify_on_save: true
      indent_size: 2
    java:
      beautify_on_save: true
    js:
      beautify_on_save: true
      break_chained_methods: true
      default_beautifier: "Pretty Diff"
      indent_size: 2
    json:
      beautify_on_save: true
      break_chained_methods: true
      default_beautifier: "Pretty Diff"
      indent_size: 2
    jsx:
      beautify_on_save: true
      break_chained_methods: true
      indent_size: 2
    less:
      align_assignments: true
      beautify_on_save: true
      convert_quotes: "double"
      force_indentation: true
      no_lead_zero: true
      preserve_newlines: true
    markdown:
      beautify_on_save: true
      commonmark: true
    objectivec:
      beautify_on_save: true
      default_beautifier: "clang-format"
    php:
      beautify_on_save: true
    python:
      beautify_on_save: true
      default_beautifier: "yapf"
      indent_size: 2
      sort_imports: true
    ruby:
      beautify_on_save: true
      indent_size: 2
    sass:
      beautify_on_save: true
    scss:
      align_assignments: true
      beautify_on_save: true
      convert_quotes: "double"
      force_indentation: true
      indent_size: 2
      no_lead_zero: true
      preserve_newlines: true
    sql:
      beautify_on_save: true
      identifiers: "lower"
      indent_size: 2
    vue:
      beautify_on_save: true
      indent_inner_html: true
      indent_size: 2
  "autocomplete-plus":
    backspaceTriggersAutocomplete: true
    confirmCompletion: "enter"
    enableExtendedUnicodeSupport: true
  "color-picker":
    abbreviateValues: true
    automaticReplace: true
    uppercaseColorValues: true
  core:
    customFileTypes:
      "source.ini": [
        ".buckconfig"
        ".hgrc"
        ".flowconfig"
      ]
      "source.json": [
        ".arcconfig"
        "BUCK.autodeps"
      ]
      "source.python": [
        "BUCK"
      ]
    disabledPackages: [
      "tree-view"
      "linter"
    ]
    openEmptyEditorOnStart: false
    projectHome: "/Users/sanselme/Developer"
    telemetryConsent: "no"
    themes: [
      "unity-ui"
      "one-dark-syntax"
    ]
    useCustomTitleBar: true
  docblockr:
    auto_add_method_tag: true
    deep_indent: true
    development_mode: true
  editor:
    preferredLineLength: 250
  "exception-reporting":
    userId: "b269f2a1-4abc-b814-10bf-6ec32350e1b9"
  "file-icons":
    forceShow: true
    onChanges: true
  "genesis-ui":
    distractionFree:
      hideSpotified: true
  "git-diff":
    showIconsInEditorGutter: true
  "git-plus":
    experimental: true
  "language-babel":
    allowLocalOverride: true
  "linter-jscs":
    fixOnSave: true
    preset: "google"
  "markdown-preview":
    breakOnSingleNewline: true
    useGitHubStyle: true
  nuclide:
    installRecommendedPackages: true
    "nuclide-code-format":
      formatOnSave: true
    "nuclide-health":
      toolbarJewel: "None"
    "nuclide-home":
      showHome: false
    "nuclide-python":
      includeOptionalArguments: true
  "nuclide-format-js":
    reprint: true
    runOnSave: true
    saveAfterRun: true
  "todo-show":
    statusBarIndicator: true
  "tool-bar":
    iconSize: "16px"
  "unity-ui":
    colorStatusIndicatorsInTreeView: true
    showIcons: true
  welcome:
    showOnStartup: false
".ansi.text":
  editor:
    preferredLineLength: 150
".babel.regexp.source":
  editor:
    preferredLineLength: 150
".camlp4.ocaml.source":
  editor:
    preferredLineLength: 150
".css.source":
  editor:
    preferredLineLength: 150
".diff":
  editor:
    preferredLineLength: 150
".git-commit.text":
  editor:
    preferredLineLength: 150
".git-config.source":
  editor:
    preferredLineLength: 150
".git-rebase.text":
  editor:
    preferredLineLength: 150
".go.source":
  editor:
    preferredLineLength: 150
".gohtml.html.text":
  editor:
    preferredLineLength: 150
".gotemplate.source":
  editor:
    preferredLineLength: 150
".hack.html.text":
  editor:
    preferredLineLength: 150
".hackfragment.source":
  editor:
    preferredLineLength: 150
".hg-commit.text":
  editor:
    preferredLineLength: 150
".hgignore.ignore.text":
  editor:
    preferredLineLength: 150
".hs.lhs.source":
  editor:
    preferredLineLength: 150
".hs.source":
  editor:
    preferredLineLength: 150
".hs.source.y":
  editor:
    preferredLineLength: 150
".html.text.vue":
  editor:
    preferredLineLength: 150
".ignore.slugignore.text":
  editor:
    preferredLineLength: 150
".ignore.text":
  editor:
    preferredLineLength: 150
".ini.source":
  editor:
    preferredLineLength: 150
".jade.source":
  editor:
    preferredLineLength: 150
".js.jsx.source":
  editor:
    preferredLineLength: 150
".languagebabel.ttlextension":
  editor:
    preferredLineLength: 150
".menhir.source":
  editor:
    preferredLineLength: 150
".ocaml.source":
  editor:
    preferredLineLength: 150
".ocamllex.source":
  editor:
    preferredLineLength: 150
".pug.source":
  editor:
    preferredLineLength: 250
".pyjade.source":
  editor:
    preferredLineLength: 150
".source.styledcss":
  editor:
    preferredLineLength: 150
".source.swift":
  editor:
    preferredLineLength: 150
".text.todo":
  editor:
    preferredLineLength: 150
