$TTL 30
@	IN	SOA dev. nobody.dev. (
		    0000000001 ; serial
		    600 ; refresh
		    1800 ; retry
		    604800 ; expire
		    30 ; NXTTL
		    )
@		30	IN NS	dev.
;<suffix>	30	IN PTR 	<hostname>.
;<suffix>	30	IN PTR 	<ifname>.<hostname>.
