# client.conf
[Interface]
Address = ${ipv4_addr}, ${ipv6_addr}
DNS = ${dns_servers}
PrivateKey = ${privkey}

[Peer]
AllowedIPs = ${IP4_RANGE}, ${IP6_RANGE}, ${allowed_ips}
Endpoint = ${server_ip}:${wg_port}
PublicKey = ${pubkey}
