[Interface]
Address = ${ipv4_addr}, ${ipv6_addr}
ListenPort = ${wg_port}
PrivateKey = ${privkey}

PostUp = iptables -I INPUT -i wg0 -j ACCEPT
PostUp = iptables -I FORWARD -i wg0 -j ACCEPT
PostUp = iptables -I FORWARD -o wg0 -j ACCEPT

PostUp = iptables -t nat -I POSTROUTING -s 10.10.20.1/24 -o ${netdev} -j MASQUERADE
PostUp = iptables -I INPUT -i ${netdev} -p udp --dport 51820 -j ACCEPT

PostUp = ip6tables -I INPUT -i wg0 -j ACCEPT
PostUp = ip6tables -I FORWARD -i wg0 -j ACCEPT
PostUp = ip6tables -I FORWARD -o wg0 -j ACCEPT

PostUp = ip6tables -I INPUT -i ${netdev} -p udp --dport 51820 -j ACCEPT

PreDown = iptables -D INPUT -i wg0 -j ACCEPT
PreDown = iptables -D FORWARD -i wg0 -j ACCEPT
PreDown = iptables -D FORWARD -o wg0 -j ACCEPT

PreDown = iptables -t nat -D POSTROUTING -s 10.10.20.1/24 -o ${netdev} -j MASQUERADE
PreDown = iptables -D INPUT -i ${netdev} -p udp --dport 51820 -j ACCEPT

PreDown = ip6tables -D INPUT -i wg0 -j ACCEPT
PreDown = ip6tables -D FORWARD -i wg0 -j ACCEPT
PreDown = ip6tables -D FORWARD -o wg0 -j ACCEPT

PreDown = ip6tables -D INPUT -i ${netdev} -p udp --dport 51820 -j ACCEPT

[Peer]
PublicKey = ${pubkey}
AllowedIPs = ${allowed_ips}
